<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/users/info', user: @post.user %>
      <h2 class="mt-3">New post</h2>
      <%= render 'form', post: Post.new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>post detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%#= link_to @post.user.name,  do %>
            <%= image_tag @post.user.get_profile_image, size: "100x100" %><br>
            <%= @post.user.name %>
            <%# end %>
          </td>
          <td><%= @post.title %></td>
          <td><%= @post.opinion %></td>
          <% if @post.user == current_user %>
            <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %></td>
            <td><%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}" %></td>
          <% end %>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>